main {
    max-width: 100vw;
    min-height: 100vh;
    
    padding-top: 12px;

    background-color: var(--text-color);
}


main .wrapper-content {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    transition: all 300ms;
}

.wrapper-content .content--box {
    width: 340px;
    min-height: 340px;

    margin: 18px 8px 18px 8px;
    padding: 12px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    border-radius: 8px;
    cursor: pointer;

    position: relative;

    background-color: #f9f9f9;
    transition: all 500ms;
}

.content--box:hover {
    transform: translateY(-18px);
}


.content--box .poke-num {
    width: 60px;
    padding: 6px;

    border-radius: 0 8px 0 8px;

    text-align: center;
    font-size: 18px;
    color:#232323;
    font-weight: bold;

    background-color: var(--primary-color);

    position: absolute;
    top: 0;
    right: 0;

    transition: all 500ms;
    transition-delay: 300ms;
}

.content--box img {
    width:  220px;
    height: 220px;
}


.content--box .poke-info {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 28px;
}

.content--box .poke-info h1 {
    color: #313131;
}

.content--box .poke-info ul {
    padding-top: 12px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.content--box .poke-info li {
    list-style: none;
    padding-right: 12px;
}

@media(min-width: 820px){
    .content--box .poke-num {
        left:  0;
        border-radius: 8px 0 8px 0;
    }
}