.wrapper-info {
    min-height: 120px;
    width: 100%;

    padding: 12px;
    margin: 6px;

    border-radius: 8px;

    background-color: #FDE511;
}

.wrapper-info .info-header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 8px;
    padding: 8px;
}

.wrapper-info .info-header span {
    max-width: 160px;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: .8px;
    color: var(--text-color);
}


.wrapper-info .info-stats {
    width: 100%;

    padding: 12px;

    display: flex;
    align-self: center;
    justify-content: flex-start;
}

.wrapper-info .info-stats span {
    /* arrumar no media query */
    max-width: 80px;

    color: var(--text-color);
    font-weight: bold;

    padding-right: 12px;
}


.wrapper-info .info-stats ul {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around;
}


.wrapper-info .info-stats li {
    width: 20px;
    height: 10px;

    background-color: skyblue;
    border-radius: 24px;

    margin:2px;
}